@using Microsoft.AspNetCore.Http;
    @{
    ViewData["Title"] = "CreateDashBoard";
}

<h1>CreateDashBoard</h1>
<h4 class="text-right text-primary"><a asp-action="Logout"asp.controller="CookieSession">Logout</a></h4>
@if(Context.Session.GetString("UName")!=null)
{
    <h4 class="text-right text-danger">Welcome  @Context.Session.GetString("UName").ToString()</h4>
}

<h4 class="text-right text-danger">Your last logout @ViewBag.lldt</h4>

